* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: tomato;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: auto; 
}

.container {
    width: 80%;  
    margin-top: 20px; 
     

}

.welcome { 
    text-align: center;
}

.cards {
    width: 50%;
    height: auto;
    margin: auto;
    border: 1px solid rgb(150, 145, 145);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: aliceblue !important;
}

.card-title {
    font-size: 24px;
    margin: 5px;
    text-align: center;
    color: black;
}

label, input {
    font-size: 20px;
    margin: 15px;
    width: 96%;
    font-weight: 700;
}

.btn {
    font-size: 18px; 
    background-color: transparent;
    border: 1px solid rgb(221, 187, 181);
    padding: 10px 30px;
    margin: 15px;
    border-radius: 5px;
    background-color: white !important;
}

.btn:hover {   
    background-color: rgb(221, 187, 181);
}

input{
    padding: 10px 10px;
    outline: none;
    border: none;
    background: tomato;
    border-radius: 5px;
}

input::placeholder{
    color: rgb(255, 248, 240);
    opacity: 0.3;
}

.sign {
    margin-left: 25px;
}