* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.top-header {
    background-color: aquamarine; 
    margin: 5px;
    height: 100px;
    text-align: center;
    border-radius: 25px;
}

nav {
    height: 100px;
    margin: 5px;
    background-color: burlywood;
    text-align: center;
    border-radius: 25px;
}

h1 {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;  
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px; 
}

.content1, .content2 {
    background-color: darkmagenta;
    width: 20%;    
    margin: 5px;
}

.mainContent {
    width: 60%;
    background-color: aqua;
}

footer {
    margin: 5px;
    height: 100px;
    background-color: darkseagreen;
    border-radius: 25px;
}

main h1 {
    height: 300px;
}

.content1 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.content2 {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}