* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    scroll-behavior: smooth;
}

.content {
    width: 100%;
    height: 150px;
    background-color: blueviolet;
    overflow: auto; 
    /* overflow: hidden;
    overflow: scroll; */
}

.mainDiv {
    width: 70%;
    height: 300px;
    background-color: green;
    position: relative;
} 

.div1 {
    width: 150px;
    height: 150px; 
    background-color: red;
    position: absolute;
    border-radius: 50%;
    left: 35%;
    top: 25%; 
}

.div2 {
    width: 20px;
    height: 500px;
    background-color: burlywood;
    position: absolute;
    top: 0;
}

.content3 {
    font-size: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.content4 {
    background-color: green;
    width: 20%;  
    float: left;
}
.content5 {
    background-color: rgb(128, 87, 0);
    width: 12%;
    float: left; 
    margin: 0 20px;
}

.clear {
    clear: both;
}

.content6 {
    background-color: rgb(9, 0, 128);
}
.content7 {
    background-color: rgb(128, 0, 128); 
}

.content8 img {
    float: left; 
    padding: 20px;
} 

.content9 {
    background-color: brown;
}

.content10 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    overflow: hidden;
    padding: 10px; 
    margin: 10px;
    border: 10px solid black;
}
 
.backgroundImg {
    width: 100%; 
    height: 400px;
    background-image: url("img/web3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    text-align: center;
    align-items: center;
} 
